@model IEnumerable<HouseHoldBuget.Models.Invite>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
@{
    ViewBag.Title = "Create Or Join Household";
}


<div class="row">
    <div class="col-md-8">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-group"></i>
                    Open Invitations
                </h3>
            </div>     <!-- /.portlet-header -->
            <div class="portlet-content">
                <div class="table-responsive">
                    @using (Html.BeginForm("AcceptInvite", "Home", FormMethod.Post, new { id = "acceptForm" }))
                    {
                        <input type="hidden" id="inviteId" name="inviteId" />
                        @Html.AntiForgeryToken()
                        <table id="hhInvites" class="display text-nowrap" cellspacing="0" width="100">
                            <thead>
                                <tr>
                                    <td>Household</td>
                                    <td>Created on:</td>
                                    <td>Invited</td>
                                    <td>Accept</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Household.CreatedBy)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Household.CreateDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.InviteDate)</td>
                                        <td><button type="button" onclick="sub(this)" data-id="@item.Id">Accept Invite</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </div>
    </div> <!-- /.col-md-6 -->
</div> <!-- /row -->

<row>
    <div class="col-md-3">
        <h2> Accept an invite or </h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" name="makeHH" class="btn btn-primary btn-lg">Create a new Household</button>
    }
</row>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script>

        function sub(element) {
            $('#inviteId').val($(element).data("id"))
            $('#acceptForm').submit()
        }

        $(document).ready(function () {
            $('#hhInvites').DataTable({
                "paging": false,
                "info": false,
                "filter": false,
                "order": [[1, "asc"]]
            });
        });
    </script>
    <script>
        $('#menu_Dashboard').removeClass('active');
        $('#menu_YourHousehold').removeClass('active');
        $('#menu_Accounts').removeClass('active');
        $('#menu_Transactions').removeClass('active');
    </script>





    <script src="~/js/plugins/icheck/jquery.icheck.min.js"></script>
    <script src="~/js/plugins/select2/select2.js"></script>
    <script src="~/js/App.js"></script>
    <script src="~/js/demos/dashboard.js"></script>
}
