@model HouseHoldBuget.Models.Household
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
@{
    ViewBag.Title = "Your Household";
}
@*<div id="content-header">
        <h1>Your Household</h1>
    </div>
    <div id="content-container">*@
<h4 class="heading-inline">
    Household (@Model.Id) created by: &nbsp;&nbsp; @Model.CreatedBy  &nbsp;&nbsp; on: &nbsp;&nbsp; @Model.CreateDate 
</h4>

<div class="row">
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-group"></i>
                    Members
                </h3>
            </div>     <!-- /.portlet-header -->
            <div class="portlet-content">
                <div class="table-responsive">
                    <table id="hhUsers" class="display" cellspacing="0" width="100">
                        <thead>
                            <tr>
                                <td>Members</td>
                                <td>Joined</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.JoinDate)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <row>

                @using (Html.BeginForm("LeaveHousehold", "Home"))
                {
                    @Html.AntiForgeryToken()
                    <h4>Leave</h4>
                    <p>Leave your current household and start a new one.</p>
                    <form action="">
                        <input type="checkbox" required id="leave" />
                        I understand that I will no longer have access to my current household's accounts.

                        <button type="submit" class="btn btn-primary btn-small">Leave this household</button>
                        <input type="hidden" name="HouseholdId" value="@Model.Id" />
                    </form>
                }

            </row>
        </div>
    </div> <!-- /.col-md-6 -->
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-header">
                <h3>
                    <i class="fa fa-group"></i>
                    Open Invitations
                </h3>
            </div>     <!-- /.portlet-header -->
            <div class="portlet-content">
                <div class="table-responsive">
                    <table id="hhInvites" class="display text-nowrap" cellspacing="0" width="100">
                        <thead>
                            <tr>
                                <td>Email</td>
                                <td>Invited</td>
                                <td>Cancel</td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Invites)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.InviteEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InviteDate)</td>
                                    <td>@Html.ActionLink("Cancel", "RemoveInvite", new { id = item.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <row>
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h4>Send an Invite to:</h4>
                    <input type="email" size="80" name="InviteEmail" class="requiredfield" data-error-empty="Please enter an email address" data-error-invalid="Invalid email address">
                    <button type="submit" class="btn btn-primary btn-small">Submit</button>
                    <input type="hidden" name="HouseholdId" value="@Model.Id" />
                }
            </row>
        </div>
    </div> <!-- /.col-md-6 -->
</div> <!-- /row -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#hhUsers').DataTable({
                "paging": false,
                "info": false,
                "filter": false,
                "order": [[1, "asc"]]
            });
        });
        $(document).ready(function () {
            $('#hhInvites').DataTable({
                "paging": false,
                "info": false,
                "filter": false,
                "order": [[1, "asc"]]
            });
        });
    </script>
    <script>
        $('#menu_Dashboard').removeClass('active');
        $('#menu_YourHousehold').addClass('active');
        $('#menu_Accounts').removeClass('active');
        $('#menu_Transactions').removeClass('active');
    </script>





    <script src="~/js/plugins/icheck/jquery.icheck.min.js"></script>
    <script src="~/js/plugins/select2/select2.js"></script>
    @*<script src="~/js/plugins/tableCheckable/jquery.tableCheckable.js"></script>*@

    <script src="~/js/App.js"></script>

    @* <script src="~/js/libs/raphael-2.1.2.min.js"></script>*@
    @* <script src="~/js/plugins/morris/morris.min.js"></script>*@

    @* <script src="~/js/demos/charts/morris/area.js"></script>*@
    @* <script src="~/js/demos/charts/morris/donut.js"></script>*@

    @* <script src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>*@

    @*   <script src="~/js/plugins/fullcalendar/fullcalendar.min.js"></script>*@
    @* <script src="~/js/demos/calendar.js"></script>*@

    <script src="~/js/demos/dashboard.js"></script>
}
