@model IEnumerable<HouseHoldBuget.Models.BankAccount>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

@{
    ViewBag.Title = "Accounts";
}

<div class="row">
    <div class="col-md-4">
        <p>
            <button class=" btn btn-xs btn-success" onclick="location.href='@Url.Action("Create","BankAccounts")'">Create</button>
        </p>
        <div class="table-responsive">
            <table id="accts" class="display text-nowrap" cellspacing="0" width="100">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-xs btn-success" onclick="location.href='@Url.Action("Edit", "BankAccounts", new { id = item.Id })'">Edit</button> |
                                <button class="btn btn-xs btn-primary" onclick="location.href='@Url.Action("Delete", "BankAccounts", new { id = item.Id })'">Delete</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> <!-- /.md4  -->
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#accts').DataTable({
                "paging": false,
                "info": false,
                "filter": false,
                "order": [[1, "asc"]]
            });
        });


    </script>

    @Scripts.Render("~/bundles/jqueryval")

<script>
    $('#menu_Dashboard').removeClass('active');
    $('#menu_YourHousehold').removeClass('active');
    $('#menu_Accounts').addClass('active');
    $('#menu_Transactions').removeClass('active');
    $('#menu_BudgetItems').removeClass('active');
</script>



}
